name: Build
on:
  push: {branches: [main]}
  pull_request: {types: [opened, synchronize, reopened]}
jobs:
  install:
    name: Install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: node_modules
          key: node_modules-${{ hashFiles('yarn.lock') }}
          restore-keys: node_modules-
      - uses: actions/setup-node@v1
        with: {node-version: '14'}
      - run: yarn --frozen-lockfile

  test-unit:
    name: Unit Test
    runs-on: ubuntu-latest
    needs: install
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with: {node-version: '14'}
      - uses: actions/cache@v1
        with:
          path: node_modules
          key: node_modules-${{ hashFiles('yarn.lock') }}
      - run: mkdir -p reports/unit
      - run: yarn test:ci
      - uses: actions/upload-artifact@v2
        with:
          name: unit
          path: reports/unit/

  test-e2e:
    name: e2e Test
    runs-on: ubuntu-latest
    needs: install
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with: {node-version: '14'}
      - uses: actions/cache@v1
        with:
          path: node_modules
          key: node_modules-${{ hashFiles('yarn.lock') }}
      # - run: |
      #     sudo apt-get update
      #     sudo apt-get upgrade google-chrome-stable -y
      - run: mkdir -p reports/e2e
      # - run: yarn e2e:ci
      - uses: actions/upload-artifact@v2
        with:
          name: e2e
          path: reports/e2e/

  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    needs: [test-unit, test-e2e]
    steps:
      - uses: actions/checkout@v2
        with: {fetch-depth: 0}
      - uses: actions/download-artifact@v2
        with:
          path: reports/
      - uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
